/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------


--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------****


--------------------------------------------------------------------- import Files ---------------------------------------------------------------------

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*{}
    box-sizing: border-box !important;
    transition: ease all 0.5s;*/

*{
    box-sizing: border-box !important;
}
html {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden !important;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

:focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.padding_0 {
    padding: 0px;
}

.layout_padding {
    margin-top:200px;
    padding-top: 90px;
    padding-bottom: 0px;
}

.layout_padding1 {
    margin-top:400px;
    padding-top: 90px;
    padding-bottom: 0px;
    background-color: green;
    padding-bottom: 100px;
}

.header_section {
    width: 100%;
    float: left;
    background-image: url(../images/banner-bg.jpg);
    height: auto;
    background-size: 100%;
}
.header_section1 {
    width: 100%;
    float: left;

    height: auto;
    background-size: 100%;
}

.logo {
    width: 35%;
    float: left;
}

.logo img{
    width: 70px;
    border-radius: 50%;
}

.title{
    padding-top: 15px;
    margin-left: 15%;
    color: white;
    font-size: 30px;
    
}

.user-logo img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.main_navbar{
    background-color: rgba(0, 0, 0,0.5) ;

}

.bg-light {
    background-color: transparent !important;
}

.navbar{
    background-color: green;
}

.navbar-brand {
    color:white;
    font-weight: 500;
}

/*.navbar-logo img{
    border-radius:50%;
    height: 50px;
    width:50px;
    margin-right: 30px;
}*/
.navbar-toggler{
    border-color: white;
    border-width: 1px;
}
.navbar-toggler-icon i{
    color:#fff; font-size:28px;
}
.navbar-nav li a{
    margin-top: 10px;
    padding-right: 50px;
    color:white;
    font-weight: 500;
    margin-right:100px;

}


.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 50px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 70px;
    color: #fdfcfc;
    font-weight: bold;
    text-transform: uppercase;
}

.banner_text {
    width: 49%;
    float: left;
    font-size: 16px;
    color: #fdfcfc;
    margin: 0px;
}

.btn_main {
    width: 100%;
    display: flex;
    padding-top: 40px;
}

.contact_bt {
    width: 170px;
    float: left;
}

.contact_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #060606;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}

.contact_bt a:hover {
    color: #ffffff;
    background-color: #fb8a05;
}

.readmore_bt {
    width: 170px;
    float: left;
    margin-left: 20px;
}

.readmore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #060606;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}

.readmore_bt a:hover {
    color: #ffffff;
    background-color: #fb8a05;
}

.readmore_bt.active a {
    color: #ffffff;
    background-color: #fb8a05;
}

.number_text {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 100%;
    padding-top: 10px;
    margin-top: 80px;
}

body {
    width: 100%;
    height: 100%;
}

.carousel-inner,
.carousel,
.carousel-item,
.container,
.fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

.slide-wrapper {
    display: inline;
}

.slide-wrapper .container {
    padding: 0;
}


/*
 about section start */

.about_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.about_taital_main {
    width: 100%;
    float: left;
    padding-top: 140px;
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    background-color: green;
    height: auto;
    padding: 0px 37px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.about_text {
    width: 80%;
    float: left;
    font-size: 20px;
    color: #3f3f3f;
    margin: 0px;
    padding-top: 40px;
    padding-left: 20px;
    margin-bottom: 50px;
    font-weight: 400;
}

.read_bt {
    width: 190px;
    margin-top: 30px;
    margin-left: 50px
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: green;
    text-align: center;
    padding: 8px 10px;
}

.read_bt a:hover {
    background-color: #b538a4;
    color: #ffffff;
}

.abiut_images_main {
    width: 100%;
    float: left;
    padding-left: 100px;
}

img.image_1 {
    width: 50%;
    float: right;
    position: relative;
}

img.image_2 {
    width: 60%;
    float: left;
    position: absolute;
    top: 110px;
    left: 100px;
    margin-left: 100px
}

.main {
    width: 100%;
    float: right;
    text-align: right;
}

img.image_3 {
    width: 70%;
    float: right;
    padding-top: 125px;
    padding-left: 104px;
}


/* about section end 


 vitamin section start */

.vitamin_section {
    width: 100%;
    float: left;
    background: green;
    padding-bottom: 90px;

}

.vitamin_img {
    width: 100%;
    float: left;
    margin-top: 100px;
}

.padding_left_0 {
    padding-left: 0px;
}


.vitamin_taital_main {
    width: 80%;
    float: left;

    padding-left: 50px;
}

.vitamin_taital {
    width: 100%;
    float: left;
    font-size: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: -10px;
}

.vitamin_text {
    width: 100%;
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: wheat;
    margin: 0px;
}

.vitamin_section_2 {
    width: 100%;
    float: left;
    padding-top: 0px;
}

.vitamin_taital_left {
    width: 30%;
    float: left;
}

.vitamin_taital_right {
    width: 70%;
    float: left;
}

.car_image {
    text-align: center;
    object-fit: cover;
    border-radius: 10px;
}

.car_box {
    width: 100px;

    background-color: #ffffff;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.parking_text {
    width: 100%;
    float: left;
    font-size: 25px;
    color: wheat;
    padding-top: 52px;
    font-weight: 500;
}

.long_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: white;
    margin: 0px;
    font-weight: 400;
}


/* vitamin section end */


/* blog section start */

.blog_section {
    width: 100%;
    float: left;
}

.blog_taital {
    width: 100%;
    float: left;
    font-size: 30px;
    color: #0b0b0b;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.blog_text {
    width: 100%;
    font-size: 16px;
    color: #000;
    text-align: center;
    margin: 0px;
}

.blog_section_2 {
    width: 100%;
    background-color: #ffffff;
    height: auto;
    padding: 0px 50px 50px 0px;
    box-shadow: 0px 0px 60px 4px #eeeeef;
    margin-top: 50px;
}

.date_text {
    width: 60px;
    font-size: 15px;
    color: #ffffff;
    background-color: #fb8a05;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    position: relative;
    z-index: 1;
}

.image_4 {
    width: 100%;
    float: left;
    position: relative;
    top: -10px;
    padding-left: 50px;
}

.liya_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #252525;
    font-weight: bold;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
}

.ipsum_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #202020;
    margin: 0px;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}

.follow_btn_main {
    width: 100%;
    display: flex;
    padding-top: 57px;
}

.like_bt {
    width: 50px;
    float: left;
}

.like_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #202020;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.like_bt a:hover {
    color: #e6615a;
}

.comment_bt {
    width: 100px;
    float: left;
    margin-left: 20px;
}

.comment_bt a {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #202020;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

.comment_bt a:hover {
    color: #e6615a;
}

.comment_bt.active a {
    color: #e6615a;
}

.image_5 {
    width: 100%;
    float: left;
    padding-top: 50px;
}

.jonas_box {
    width: 100%;
    float: left;
    padding: 0px 0px 0px 50px;
}

.jonas_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #252525;
    font-weight: bold;
    padding-top: 35px;
    font-family: 'Raleway', sans-serif;
}


/* blog section end 


 contact srction start */

.contact_srction {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.contact_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #131313;
    text-align: center;
    padding-bottom: 40px;
}

.contact_srction_2 {
    width: 100%;
    float: left;
}

.mail_main {
    width: 80%;
    margin: 0 auto;
}

.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #424343;
    border: 1px solid #8e8e8e;
    background-color: #ffff;
    padding: 15px;
    margin-top: 20px;
}

.massage-bt {
    color: #424343;
    width: 100%;
    font-size: 18px;
    background-color: #ffff;
    padding: 15px;
    border: 1px solid #8e8e8e;
    height: 60px;
    margin-top: 20px;
}

.send_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.send_bt a {
    width: 100%;
    float: left;
    background-color: #fb8a05;
    color: #fefeff;
    text-align: center;
    padding: 10px 0px;
    font-size: 16px;
    margin-top: 40px;
    border-radius: 40px;
}

.send_bt a:hover {
    background-color: #b538a4;
    color: #ffffff;
}


/* contact srction end 


 news section start */

.news_section {
    width: 100%;
    float: left;
}

.news_taital {
    width: 100%;
    font-size: 30px;
    color: #131313;
    font-weight: bold;
}

.padding_right_0 {
    padding-right: 0px;
}

.news_main {
    width: 100%;
    float: left;
    padding-left: 100px;
}

.news_section_2 {
    width: 100%;
    border: 1px solid #000;
    border-style: dotted;
    padding: 60px;
    margin-top: 30px;
}

.lina_text {
    width: 100%;
    font-size: 20px;
    color: #fb8a05;
    font-weight: bold;
    text-transform: uppercase;
}

.dummy_text {
    width: 100%;
    font-size: 16px;
    color: #989797;
    margin: 0px;
    padding-top: 30px;
}

.quick_icon {
    width: 100%;
    padding-top: 40px;
}


/* contact srction end 


 footer section start */



.footer_section {
    width: 100%;
    float: left;
    background-color: #2d2c2d;
    padding: 50px 0px;
}

.social_icon {
    padding: 20px 0px;
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

.padding_10 {
    padding: 0px 10px;
}

.location_main {
    width: 100%;
    display: flex;
    padding-top: 30px;
}

.location_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fdfefe;
}

.location_text a {
    color: #fdfefe;
}

.location_text a:hover {
    color: #fb8a05;
}

.center {
    text-align: center;
}

.padding10 {
    padding-left: 10px;
}

.right {
    text-align: right;
    float: right;
}

.Enter_mail_main {
    width: 70%;
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
}

.Enter_text {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #9e9c9c;
    background-color: #ffffff;
    padding: 8px 20px;
    margin-top: 10px;
    border: 0px;
    height: 52px;
}

input.Enter_text::placeholder {
    color: #9e9c9c;
}

.subscribe_bt {
    width: 170px;
    float: left;
    margin-top: 10px;
}

.subscribe_bt a {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #fb8a05;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
}

.subscribe_bt a:hover {
    color: #9e9c9c;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #2d2c2d;
    height: auto;
}

.copyright_text {
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    padding: 20px 0px;
    border-top: 1px solid #fff;
}

.copyright_text a {
    color: #ffffff;
}

.copyright_text a:hover {
    color: #fb8a05;
}


/*copyright section end*/ 