<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DayController</servlet-name>
        <servlet-class>com.dietcalculator.controller.DayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExerciseController</servlet-name>
        <servlet-class>com.dietcalculator.controller.ExerciseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodController</servlet-name>
        <servlet-class>com.dietcalculator.controller.FoodController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodDetailController</servlet-name>
        <servlet-class>com.dietcalculator.controller.FoodDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FormController</servlet-name>
        <servlet-class>com.dietcalculator.controller.FormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.dietcalculator.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuController</servlet-name>
        <servlet-class>com.dietcalculator.controller.MenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MealController</servlet-name>
        <servlet-class>com.dietcalculator.controller.MealController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopUpController</servlet-name>
        <servlet-class>com.dietcalculator.controller.PopUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopUpDetailController</servlet-name>
        <servlet-class>com.dietcalculator.controller.PopUpDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>com.dietcalculator.controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductInfoController</servlet-name>
        <servlet-class>com.dietcalculator.controller.ProductInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductListController</servlet-name>
        <servlet-class>com.dietcalculator.controller.ProductListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleOffController</servlet-name>
        <servlet-class>com.dietcalculator.controller.SaleOffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>com.dietcalculator.controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatedProduct</servlet-name>
        <servlet-class>com.dietcalculator.controller.RelatedProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPopUpController</servlet-name>
        <servlet-class>com.dietcalculator.controller.ShowPopUpController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.dietcalculator.controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DietGrading</servlet-name>
        <servlet-class>com.dietcalculator.controller.DietGrading</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>com.dietcalculator.controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>com.dietcalculator.controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailController</servlet-name>
        <servlet-class>com.dietcalculator.dto.MailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DayController</servlet-name>
        <url-pattern>/DayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExerciseController</servlet-name>
        <url-pattern>/ExerciseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodController</servlet-name>
        <url-pattern>/FoodController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodDetailController</servlet-name>
        <url-pattern>/FoodDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FormController</servlet-name>
        <url-pattern>/FormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuController</servlet-name>
        <url-pattern>/MenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MealController</servlet-name>
        <url-pattern>/MealController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopUpController</servlet-name>
        <url-pattern>/PopUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopUpDetailController</servlet-name>
        <url-pattern>/PopUpDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductInfoController</servlet-name>
        <url-pattern>/ProductInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductListController</servlet-name>
        <url-pattern>/ProductListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleOffController</servlet-name>
        <url-pattern>/SaleOffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatedProduct</servlet-name>
        <url-pattern>/RelatedProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPopUpController</servlet-name>
        <url-pattern>/ShowPopUpController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/HomeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DietGrading</servlet-name>
        <url-pattern>/DietGrading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/ProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailController</servlet-name>
        <url-pattern>/MailController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>300</session-timeout>
    </session-config>
</web-app>
